[submodule "hugo-theme-pixyll"]
	path = hugo-theme-pixyll
	url = git@github.com:azmelanar/hugo-theme-pixyll.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/pixyll"]
	path = themes/pixyll
	url = git@github.com:azmelanar/hugo-theme-pixyll.git
